<% include partials/header %>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>AssessR</h1>
                <p>Learning Web Development is easier with the right resources</p>
                <p><a class="btn btn-lg btn-primary" href="/new">Add New Resource</a></p>
            </div>
        </div>
        <div class="resource_row">
            <% resources.forEach((resource) => { %>
                <div class="item well">
                <a href="/resources/<%= resource._id %>">
                    <h3>
                        <%= resource.name %>
                    </h3>
                    <img class="resource_image" src="<%= resource.image %>">
                    </a>
                </div>
                <% }); %>
        </div>
    </div>
    <% include partials/footer %>